.active-friends{

        display: flex;
        .image-active-icon{
            display: flex;
            overflow-x: scroll;
            .image{
                margin: 5px;
                position: relative;
                img{
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                }
                .active-icon{
                    position: absolute;
                    right: 3px;
                    bottom: 3px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: rgb(27,223,53);
                }
            }
        }
}