*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(220, 233, 245);
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}